
.input-green-custom-edit{
    background-color: #c8d681 !important;
    border: 2px solid #a2ac66 !important;
    text-align: right;
}

.text-to-right-edit{
    text-align: right;
}

.bg-subtotal{
    background-color: rgb(240, 240, 240);
}

.bg-button-pdf{
    background-color: #983945 !important;
    color: #fff;
}

.bg-button-validar{
    background-color: #4d79b6 !important;
    color: #fff;
}

.input-to-right{
    text-align: right;
}